/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-radius: 0 !important;
  }

  body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    background-color: #FFE500;
  }

  button {
    border-radius: 0 !important;
  }
}

@layer utilities {
  .brutal-btn {
    @apply border-2 border-black shadow-brutal font-bold uppercase tracking-wide px-4 py-2 transition-all active:shadow-none active:translate-x-1 active:translate-y-1;
  }
  .brutal-input {
    @apply border-2 border-black shadow-brutal-sm bg-white font-medium placeholder:text-gray-500 focus:outline-none focus:shadow-brutal focus:translate-x-[-2px] focus:translate-y-[-2px] transition-all;
  }
}
